<!DOCTYPE html>
<html lang="en">
<head>
	<script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-pie.min.js"></script>
</head>   
<body>
<div class="bigBox">
<h1>Community Page</h1>

	<div class = "centerLeft">
		<table class= "com_table">
			<tr>
				<th>Name</th>
				<th>Number of Plants</th>
				<th>Plants</th>
			</tr>
			<tr>
				<td>TEXT</td>
				<td>TEXT</td>
				<td>TEXT</td>
			</tr>
			<tr>
				<td>TEXT</td>
				<td>TEXT</td>
				<td>TEXT</td>
			</tr>
			<tr>
				<td>TEXT</td>
				<td>TEXT</td>
				<td>TEXT</td>
			</tr>
			<tr>
				<td>TEXT</td>
				<td>TEXT</td>
				<td></td>
			</tr>
			<tr>
				<td>TEXT</td>
				<td>TEXT</td>
				<td>TEXT</td>
			</tr>
			<tr>
				<td>Private</td>
				<td>25</td>
				<td>TEXT</td>
			</tr>
		</table>
	</div>

	<div class = "centerRight" id="container"></div>
    <script>
	anychart.onDocumentReady(function() {
		// set the data
		var data = [
			{x: "wheat", value: 23},
			{x: "oats", value: 14},
			{x: "cauliflower", value: 1},
			{x: "beetroot", value: 3}
		];

		// create the chart
		var chart = anychart.pie();

		// set the chart title
		chart.title("Crops Throught the Community");

		// add the data
		chart.data(data);
		
		// set legend position and items layout
		chart
		.legend()
		.position('right')
		.itemsLayout('vertical')
		.align('centre');
		
		//visuals
		chart.palette(anychart.palettes.glamour);


		// display the chart in the container
		chart.container('container');
		chart.draw();
	});
    </script>

</div>
</body>
</html>
