<!DOCTYPE html>
<html lang="en">
<head>
<script>
var plantLists = {
	"Crop": ["wheat", "oats", "cauliflower", "beetroot"],
	"Non-Crop": [ "Gum tree", "Bottlebrush", "wattle"]
}
window.onload = function() {
	var planttypeSel = document.getElementById("planttype");
	var specplantSel = document.getElementById("specplant");
	for (var y in plantLists) {
		planttypeSel.options[planttypeSel.options.length] = new Option(y, y);
	}
	planttypeSel.onchange = function() {
	    specplantSel.length = 1;
		
		var z = plantLists[this.value];
		for (var i = 0; i < z.length; i++) {
			specplantSel.options[specplantSel.options.length] = new Option(z[i], z[i]);
		}
	}
}
</script>
</head>   
<body>

<h1>Create a new request</h1>

<form name="create_a_request" id="create_a_request" action="/create_a_request">
	Plant Type: <select name="planttype" id="planttype"required>
		<option value="" selected="selected">Select a Plant Type</option>
		</select>
		<br><br>
	Specific Plant: <select name="specplant" id="specplant" required>
		<option value="" selected="selected">Please select a Plant Type first</option>
		</select>
		<br><br>
	Amount: <input type="number" name="amount" id="amount" required>
		</input>
		<br><br>
	<input type="submit" value="Submit">  
</form>

</body>
</html>
