<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
	<main>
		<div class="bigBox">
			<h1>Help</h1>
			<BR>
			<div class="helpDIV">
				<h2>When Making An Account</h2>
				<p class="help">What does private mean?<BR> When the register page asks if you wish to make your account
					private,
					it is asking if you want the community to see the crops attached to your name. In the case an
					account is
					private they will be able to see what is grow but not who it is grown by.</p>
				<p class="help">Why do we need your adress?<BR> In the case that you accept a request from another
					member of the
					community, it will then give them our address as the place to pick up the avalible crops from. You
					can also be given their address if you wish to drop your goods to them.</p>
			</div>

			<div class="helpDIV">
				<h2>When Using The Site</h2>
				<p class="help">How to use the site for the first time?<BR> When you first log into the site you can
					only do 2
					different things. These are: new plant and create request in the trading section. Before accepting
					trades you must be
					growing the specified crop.</p>
				<p class="help">How to get to the home page?<BR> To navigate to the home page from anywhere on the
					website you can
					either use the website name in the top left hand corner of the screen, or the home buttom pn the
					navigation bar on the
					top right corner of the screen.</p>
			</div>
			<div class="helpDIV">
				<h2>Account Infomation</h2>
				<p class="help">How to delete your account?<BR> To delete your account, simply email our support line
					and ask for your
					account to be deleted from the system.</p>
			</div>
		</div>
	</main>
</body>



</html>