<!DOCTYPE html>
<html lang="en">

<head>
	<link href="css/styles.css" rel="stylesheet" type="text/css">
</head>

<body>
	<main>
		
		
				<header>Help</header>
			

		<div class="content">
			<p>
			<h1>Help me</h1>
			<h>Get Bitches Make Money</h>
			</p>
		</div>




	</main>
</body>

</html>