<!DOCTYPE html>
<html lang="en">

<body>
	<header>
	</header>
	<main>
		<ul>
			<button class=main-button onclick="document.location='/signup'">COMMUNITY</button>
			<button class=main-button onclick="document.location='/signup'">TRADING</button>
			<button class=small-button onclick="document.location='/signup'">PLANT NEW</button>
			<button class=small-button onclick="document.location='/signup'">INFORMATION</button>
			<button class=small-button onclick="document.location='/signup'">WEATHER</button>
			<div><a href="/info">Help</a></div>
			<div>
				<form action="/logout?_method=DELETE" method="POST">
					<button type="submit" class="linked_button">Log Out</button>
				</form>
			</div>
			<form action="/logout?_method=DELETE" method="POST"></form>
		</ul>


		<header> Success </header>
	</main>
</body>

</html>