<!DOCTYPE html>
<html lang="en">

<body>
	<main>
		<ul>
			<li><a href="#">Help</a></li>
			<li><form action="/logout?_method=DELETE" method="POST">
			<button type="submit" class="linked_button">Log Out</button>
		</form></li>
		</ul>
		

		<header> Success </header>
	</main>
</body>
</html>
