<!DOCTYPE html>
<html lang="en">

<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-dark">
		  <a class="navbar-brand" href="/">Farm<strong> Good</strong></a>
			<div class="navbar-nav">
			  <a class="nav-item nav-link active" href="/">Home</a>
			  <a class="nav-item nav-link" href="/Info">Help</a>
			  <a class="nav-item nav-link" href="/Login">Login/Sign Up</a>
			</div>
		  </div>
		</nav>
	  </header>
	<main>
		<ul>
			<li><a href="#">Help</a></li>
			<li><form action="/logout?_method=DELETE" method="POST">
			<button type="submit" class="linked_button">Log Out</button>
		</form></li>
		</ul>
		

		<header> Success </header>
	</main>
</body>
</html>
