<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
	<header>
	</header>
	<main>
		<div class = "homeBox">

			<div class = "homeTitle">Welcome</div>

		<ul>

			<div id="topLine">
			<button class=main-button onclick="document.location='/community'">COMMUNITY</button>
			<button class=main-button onclick="document.location='/trading'">TRADING</button>
		</div>
		<div id="bottomLine">
			<button class=small-button onclick="document.location='/new_plant'">PLANT NEW</button>
			<button class=small-button onclick="document.location='/information'">INFORMATION</button>
			<button class=small-button onclick="document.location='/weather'">WEATHER</button>
		</div>
		
			<div><a href="/help">Help</a></div>

			<div>
				<form action="/logout?_method=DELETE" method="POST">
					<button type="submit" class="linked_button">Log Out</button>
				</form>
			</div>
		</ul>


	</div>
	</main>
</body>

</html>