<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
	<main>
		<header>Information</header>
		<div>
			<h1>When Making An Account</h1>
			<p>What Does Private Mean?<BR> When the register page asks if you wish to make your account provate, 
			it is asking if you want the community to see the crops attached to your name. In the case an account is 
			private they will be able to see what is grow but not who it is grown by.</p>
		</div>




	</main>
</body>

</html>