<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
	<main>
		<header>Information</header>
		<p>
		<h1>What we set out to do</h1>
		<h>Get Bitches Make Money</h>
		</p>




	</main>
</body>

</html>