<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
</head>
<body>
	<main>
		<div class="bigBox">
			<h1>Information</h1>
			<BR>
			
			<div class="helpDIV">
				<h2>
					Our goals
				</h2>
				
				<p class="help">
					<u><strong>We</strong> are here to help</u><BR> Our goal is to make your life easier, providing
					information relavent to the area you live in. Helpful things like weather updates, new crops to try
					and advice on which crops work for wildlife you might desire.
				</p>
				
				<p class="help">
					<u><strong>You</strong> are here to help you</u><br> We make your life easier by connecting
					people who can help each other. We connect you with other people in your community who need things
					you have and have things you need. Prevent wastage all around, increase productivity and together you can
					prosper.
				</p>
			</div>

			<div class="helpDIV">
				<h2>Our Website To You</h2>
				
				<p class="help"><u>Why is it so basic?</u><BR> Our site isn't meant to be everything you can ever need.
					It's
					designed to be useful for you from the second you make an account, no learning curve. By sectioning
					off the site, you get split into exactly where you need to be without having to deal with the rest.
					Simply what you need and nothing more, this also makes us work better on smaller bandwidth
					connections so things you don't need aren't eating up your data.
				</p>
				
				<p class="help"><u>What If I Want More?</u><BR> Modularity is important to us, when the sun shines 364
					days of the year you don't exactly need a weather forecast do you? Because of the simplicity of our
					project, we can replace each function with something that your community needs more. Functions are
					tied to your login so what's useful for the community is always available to you.</p>
			</div>
		</div>
	</main>
</body>
</html>