<!DOCTYPE html>
<html lang="en">

<head>

	<link href="css/styles.css" rel="stylesheet" type="text/css">

</head>

<body>

	<main>
		

		
<div class="loginBox">

	<div class="loginTitle">LOGIN</div>
	


		<div class="loginForm">

		<form action="/login" method="POST">
			<label for = "username"> Username:</label>
			<input class="formBox" type = "text" id = "username" name = "username" placeholder = "Username" accesskey = "U" required></br>
			<label for = "password"> Password:</label>
			<input class= "formBox" type = "password" id = "password" name = "password" placeholder = "Password" accesskey = "P" required></br>
			<div id = "submit" class = "submit">
				<button type="submit" class="linked_button">Login</button>
			</div>
		</form>

		</div>


		

		<div class = "register">

			<a href='/register'> Register</a>

		</div>

	</div>
	</main>
</body>
</html>
