<!DOCTYPE html>
<html lang="en">
<head>
	<link href="css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
	<header>
	</header>
	<main>
		<header> Success </header>
		
		<form action="/register" method="POST" class="login">

			<p class="form-link">Want type of plant would you like to create?<a href="/info">(i)</a>
				<select name="priv" id="priv">
					<option value="no">No</option>
					<option value="yes">Yes</option>
				</select>

				<button class="register" type="submit">Create New Plant</button>
		</form>
		
	</main>
</body>

</html>