<!DOCTYPE html>
<html lang="en">
<head>
</head>   
<body>
	<div class="bigBox">
	<h1>Trading - Your Archived Requests</h1>
	
	<button id="trading_back" onclick="document.location='/trading'">Back to Trading</button>

	<div class="grid_area">
		<div class="row">
			<div class="request_v2">
				<p>Name: TEST TEST</p>
				<p>Crop: wheat</p>
				<p>Filled By: KIM AXWORTHY</p>
			</div>
			<div class="request_v2">
				<p>Name: TEST TEST</p>
				<p>Crop: oats</p>
				<p>Filled By: KIM AXWORTHY</p>
			</div>
			<div class="request_v2">
				<p>Name: TEST TEST</p>
				<p>Crop: beetroot</p>
				<p>Filled By: BILLY PRATT</p>
			</div>
		</div>
		
		<div class="row">
			<div class="request_v2">
				<p>Name: TEST TEST</p>
				<p>Crop: wheat</p>
				<p>Filled By: PETER RENEHAN</p>
			</div>
			<div class="request_v2">
				<p>Name: TEST TEST</p>
				<p>Crop: oats</p>
				<p>Filled By: BILLY PRATT</p>
			</div>
		</div>
	</div>
</div>
	
</body>
</html>
