<!DOCTYPE html>
<html lang="en">
<head>
</head>   
<body>
	<h1>Trading - Active Requests</h1>

	<div class=request_area>
		<div class=row>
			<div class=request>
				<p>request</p>
			</div>
			<div class=request>
				<p>request</p>
			</div>
			<div class=request>
				<p>request</p>
			</div>
			<div class=request>
				<p>request</p>
			</div>
		</div>
		<div class=row>
			<div class=request>
				<p>request</p>
			</div>
			<div class=request>
				<p>request</p>
			</div>
			<div class=request>
				<p>request</p>
			</div>
			<div class=request>
				<p>request</p>
			</div>
		</div>
		<div class=row>
			<div class=request>
				<p>request</p>
			</div>
			<div class=request>
				<p>request</p>
			</div>
			<div class=request>
				<p>request</p>
			</div>
			<div class=request>
				<p>request</p>
			</div>
		</div>
	</div>

</body>
</html>
