<!DOCTYPE html>
<html lang="en">
<head>
</head>   
<body>
	<h1>Trading - Active Requests</h1>

	<div class="button_area">
		<div class="row">
			<div class="request">
				<p>Name: </p>
				<p>Crop: </p>
				<button type="delete_button" id="delete">Delete</button>
			</div>
			<div class="request">
				<p>Name: </p>
				<p>Crop: </p>
				<button type="delete_button" id="delete">Delete</button>
			</div>
			<div class="request">
				<p>Name: </p>
				<p>Crop: </p>
				<button type="delete_button" id="delete">Delete</button>
			</div>
			<div class="request">
				<p>Name: </p>
				<p>Crop: </p>
				<button type="delete_button" id="delete">Delete</button>
			</div>
		</div>
		<div class="row">
			<div class="request">
				<p>Name: </p>
				<p>Crop: </p>
				<button type="delete_button" id="delete">Delete</button>
			</div>
			<div class="request">
				<p>Name: </p>
				<p>Crop: </p>
				<button type="delete_button" id="delete">Delete</button>
			</div>
			<div class="request">
				<p>Name: </p>
				<p>Crop: </p>
				<button type="delete_button" id="delete">Delete</button>
			</div>
			<div class="request">
				<p>Name: </p>
				<p>Crop: </p>
				<button type="delete_button" id="delete">Delete</button>
			</div>
		</div>
		<div class="row">
			<div class="request">
				<p>Name: </p>
				<p>Crop: </p>
				<button type="delete_button" id="delete">Delete</button>
			</div>
			<div class="request">
				<p>Name: </p>
				<p>Crop: </p>
				<button type="delete_button" id="delete">Delete</button>
			</div>
		</div>
	</div>

</body>
</html>
