<!DOCTYPE html>
<html lang="en">
<head>
</head>   
<body>
	<h1>Trading - Your Archived Requests</h1>
	
	<button id="trading_back" onclick="document.location='/trading'">Back to Trading</button>

	<div class="grid_area">
		<div class="row">
			<div class="request_v2">
				<p>Name: </p>
				<p>Crop: </p>
				<p>Filled By: </p>
			</div>
			<div class="request_v2">
				<p>Name: </p>
				<p>Crop: </p>
				<p>Filled By: </p>
			</div>
			<div class="request_v2">
				<p>Name: </p>
				<p>Crop: </p>
				<p>Filled By: </p>
			</div>
		</div>
		
		<div class="row">
			<div class="request_v2">
				<p>Name: </p>
				<p>Crop: </p>
				<p>Filled By: </p>
			</div>
			<div class="request_v2">
				<p>Name: </p>
				<p>Crop: </p>
				<p>Filled By: </p>
			</div>
		</div>
	</div>
	
</body>
</html>
