<!DOCTYPE html>
<html lang="en">
<head>
	<link href="css/styles.css" rel="stylesheet" type="text/css">
</head>   
<body>

<h1>Trading</h1>

<a href="/create_a_request">Request a crop</a>

</body>
</html>
