<!DOCTYPE html>
<html lang="en">
<head>
</head>   
<body>
	<div class="bigBox">
	<h1>Trading - Your Active Requests</h1>
	
	<button id="trading_back" onclick="document.location='/trading'">Back to Trading</button>
	
	<div class="grid_area">
		<div class="row">
			<div class="request">
				<p>Name: </p>
				<p>Crop: </p>
				<button type="delete_button" id="request_button">Delete</button>
			</div>
			<div class="request">
				<p>Name: </p>
				<p>Crop: </p>
				<button type="delete_button" id="request_button">Delete</button>
			</div>
			<div class="request">
				<p>Name: </p>
				<p>Crop: </p>
				<button type="delete_button" id="request_button">Delete</button>
			</div>
		</div>
		
		<div class="row">
			<div class="request">
				<p>Name: </p>
				<p>Crop: </p>
				<button type="delete_button" id="request_button">Delete</button>
			</div>
			<div class="request">
				<p>Name: </p>
				<p>Crop: </p>
				<button type="delete_button" id="request_button">Delete</button>
			</div>
			<div class="request">
				<p>Name: </p>
				<p>Crop: </p>
				<button type="delete_button" id="request_button">Delete</button>
			</div>
		</div>
		
		<div class="row">
			<div class="request">
				<p>Name: </p>
				<p>Crop: </p>
				<button type="delete_button" id="request_button">Delete</button>
			</div>
		</div>
	</div>
</div>
</body>
</html>
