<!DOCTYPE html>
<html lang="en">  
<body>
	<h1>Weather</h1>
	
	<img class="img_map" src="images/Map_Example.png" alt="Weather Map">
	<img class="img_forecast" src="images/Weather_Example.png" alt="Weather Forecast">
</body>
</html>
