<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/styleS.css">
	<link rel="icon" href="/images/icon.ico">
	<title>
		<%-title %>
	</title>
</head>

<body>
	<!-- navbar -->
	<header>
		<nav class="navbar navbar-expand-sm navbar-dark">
			<a class="navbar-brand" href="/"><strong>Cape York Market</strong></a>
			<div class="navbar-nav">
				<a class="nav-item nav-link active" href="/">HOME</a>
				<a class="nav-item nav-link" href="/help">HELP</a>
				<form action="/logout?_method=DELETE" method="POST">
					<button type="submit" class="logout">Log Out</button>
				</form>	
			</div>
		</nav>
	</header>
	<main>
		<%- body %>
	</main>
	<script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-pie.min.js"></script>
</body>

</html>